*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ebeef6;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* or use background-clip: padding-box; */
}

#calculator{
    border: 2px solid #2C3E50;
    border-radius: 5px;
    width: 400px;
    /* height: 500px; */
    background-color: rgb(69, 81, 120);   /*rgb(185, 188, 198);*/
}

#display{
    margin: 15px;
    width: 90%;
    font-size: 50px;

}

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button{
    width: 90px;
    height: 80px;
    margin: 10px;
    background-color: rgb(234, 229, 217); /*rgb(244, 238, 224);*/
    font-size: 40px;
    text-transform: uppercase;
    
}